.CreatingForm{
    text-align: center;
}

.CEN{
    width: 75%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    word-wrap: break-word;
}
body{
    background-color: rgb(121, 134, 130);
}

img{
    height:40vw ;
    width:40vw ;
}


